.grid {
    width: 100%;
    margin-left: -40px;

    position: relative;
}

.grid__item {
    width: 100%;
    min-height: 1px;
    padding-left: 40px;
    float: left;
}

.grid__item--one-half {
    width: 50%;
}

.grid:after {
    height: 0;
    display: block;
    content: "";
    visibility: hidden;
    clear: both;
}

.grid--full {
    margin-left: 0;
}

.grid--full .grid__item {
    padding-left: 0;
}