/*----------------------------------------------------------------------------------------------------------------*\
    COLOURS - I like to add the colours here to refer back to, to keep them consistent throughout the site
    
    PURPLE:
    #715274
    
    OFF-WHITE:
    #FFF9F9
    
    DARK-BROWN:
    #4C493D

    LIGHT-BROWN:
    #817A68

    GREEN:
    #8CBCAF
    
\*----------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*\
    DEFAULT TEXT
\*----------------------------------------------------------------------------------------------------------------*/
body {  
    color: #4C493D;
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 1.2em;

    background-color: #FFF9F9;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #4C493D;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1.2em;
}

h1, .h1 {
    font-size: 2em;
}

h2, .h2 {
    font-size: 1.5em;
}

h3, .h3 {
    font-size: 1.25em;
}

h4, .h4 {
    font-size: 1.125em;
}

h5, .h5,
h6, .h6 {
    font-size: 1em;
}

p{
    margin-bottom: 20px;
}

a {
    color: #2290BF;
    text-decoration: none;
    
    -webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in; 
}

a:hover {
    color: #49B1DE;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BUTTONS
\*----------------------------------------------------------------------------------------------------------------*/
.button {
    padding: 5px 10px;
    border: 1px solid #077BA8;
    display: inline-block;

    background: #2290BF;

    font-size: 1em;
    line-height: 1em;
    color: #fff;

    -webkit-transition: all 0.2s ease-in;  
    -moz-transition: all 0.2s ease-in;  
    -ms-transition: all 0.2s ease-in;  
    -o-transition: all 0.2s ease-in;  
    transition: all 0.2s ease-in;
}

.button:hover {
    background: #49B1DE;
    
    color: #fff;
}





/*----------------------------------------------------------------------------------------------------------------*\
    PAGE CONTAINERS
\*----------------------------------------------------------------------------------------------------------------*/
.content {
    max-width: 980px;
    margin: 0 auto;
}





/*----------------------------------------------------------------------------------------------------------------*\
    BANNERS
\*----------------------------------------------------------------------------------------------------------------*/
.banner {
    margin-bottom: 50px;
}






/*----------------------------------------------------------------------------------------------------------------*\
    NAV
\*----------------------------------------------------------------------------------------------------------------*/
.nav {
	background-color: #715274;
}

.nav ul {
    list-style: none;
    
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: 10px 20px;
    display: block;

    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: #815E85;
}




/*----------------------------------------------------------------------------------------------------------------*\
    ITEM BOX
\*----------------------------------------------------------------------------------------------------------------*/
.item-box {
    margin-bottom: 50px;
}

.item-box--small {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.item-box__heading {
    text-align: center;

    position: relative;
}

.item-box__heading span {
    padding: 0 20px;
    display: inline-block;

    background-color: #FFF9F9;

    position: relative;
    z-index: 1;
}

.item-box__heading:after {
    content: "";

    width: 100%;
    border-top: 1px solid #817A68;

    position: absolute;
    top: 50%;
    left: 0;
}

